<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>teamID</key>
    <string>9DP9KC9L59</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.hippocampus.brain</key>
        <string>ab05bf8c-21c2-4deb-b649-2852e713ead4</string>
    </dict>
</dict>
</plist>
